# fly.toml app configuration file generated for idpt-web on 2026-01-22T21:51:31-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'idpt-web'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  IDPT_WEB_STORAGE_DIR = '/app/storage'

[[mounts]]
  source = 'idpt_data'
  destination = '/app/storage'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
